* {
	border-radius: 15px;
}

body {
	background-color: #400A5A;
	background-image: url("images/header.png");
	background-repeat: no-repeat;
	background-size: 100vw 12vw;
	overflow-y: hidden;
}

#icons {
	height: 55px;
	width: 55px;
	float: left;
	margin-left: 30px;
}

h1 {
	font-family: Algerian;
	font-weight: bold;
	background-color: #333;
	color: white;
	letter-spacing: 25px;
	margin: 0px;
	text-indent: 50px;
	border: 5px dashed black;
	outline: 3px solid black;
}

.nav {
	background-color: #333;
	overflow: hidden;
	margin: 0px;
	float: right;
	border: 5px dashed black;
}

.nav a {
	float: right;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: bold;
	font-family: Monotype Corsiva;
}

.nav a:hover {
	background-color: purple;
	font-family: Monotype Corsiva;
}

.nav a.active {
	background-color: indigo;
	font-family: Monotype Corsiva;
}

#img1 {
	position: relative;
	width: 35%;
	height: 350px;
	border: 5px dashed black;
	left: 800px;
	top: 50px;
	z-index: 1;
}

#img1 img {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 20px;
	left: 50px;
	z-index: 1
}

#img2 {
	position: relative;
	width: 35%;
	height: 300px;
	border: 5px dashed black;
	left: 600px;
	top: -150px;
	z-index: 2;
}

#img2 img {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 20px;
	z-index: 2;
}

#circle1 {
	position: relative;
	border-radius: 80px;
	width: 8%;
	height: 110px;
	border: 5px dashed black;
	top: -550px;
	left: 700px;
	z-index: 3;
}

#circle2 {
	position: relative;
	border-radius: 80px;
	width: 8%;
	height: 110px;
	border: 5px dashed black;
	top: -450px;
	left: 1100px;
	z-index: 4;
}

#text {
	color: white;
	border: 6px dashed black;
	height: 450px;
	width: 500px;
	margin-left: 20px;
	margin-top: -800px;
	font-weight: bold;
	font-size: 20px;
	padding: 20px 10px;
	box-sizing: border-box;
	background-color: #333;
	text-align: center;
	letter-spacing: 3px;
}

.highlight {
	color: black;
	display: block;
	background-color: #E66E42;	
}

#interactive {
	position: relative;
	width: 50%;
	height: 80px;
	border: 5px dashed black;
	left: 700px;
	top: -30px;
}


/* A-LORE-CHEMY */

.img {
	position: relative;
	width: 15%;
	height: 150px;
	border: 5px dashed black;
	left: 30px;
}

#pic1 {
	top: 50px;
}

#pic2 {
	top: 80px;
}

#pic3 {
	top: 110px;
}

.img2 {
	position: relative;
	width: 15%;
	height: 150px;
	border: 5px dashed black;
	left: 300px;
}

#pic4 {
	top: -330px;
}

#pic5 {
	top: -280px;
}

#para {
	background-color: #333;
	position: relative;
	width: 50%;
	height: 500px;
	border: 5px dashed black;
	left: 600px;
	top: -750px;
}
